# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
veloroute-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/

/priv/static/
/priv/maplibre-native/
/priv/meilisearch-*

/tmp/

/data/*credential*
/data/cache/
/data/josmhome/

/.vscode
/.elixir_ls
xref_graph.*

/videos
/assets/videos
/assets/videos/**
.hex
.npm
.cache
# Lots of PDFs and ZIPs that don't belong into git
data/auto_generated/link_mirror

x264_lookahead.clbin
