body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.1em;
}

$sidebar-width: 40%;
$sidebar-max-width: 35em;

#side, #map {
  contain: strict;
}

.nowebgl {
  #map, #mly {
    display: none;
  }

  #main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main::before {
    display: block;
    background: #ddd;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 20rem;
    margin: auto;
    content: "In diesem Browser scheint „WebGL“ deaktiviert zu sein. Dem ist normalerweise nicht so, d.h. vermutlich liegt es an der Technik. Bitte suche im Internet nach Lösungen oder frage eine technikaffine Person um Hilfe.";
  }
}

#sidebar {
  background: #F8F8F8;
  hyphens: auto;
}

$sidebar-content-padding: 1rem;
#routes > * {
  padding: 0 $sidebar-content-padding;
}

h3, h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

ul, ol {
  padding-left: 0.8em;
  line-height: 120%;
}

p {
  text-align: justify;
}

ul, ol, p {
  margin-top: 0;
}

.desc {
  display: none;
}

.page-index #descindex,
.page-quality #descquality,
.page-projekt #descprojekt,
.page-1 #desc1,
.page-2 #desc2,
.page-3 #desc3,
.page-4 #desc4,
.page-5 #desc5,
.page-6 #desc6,
.page-7 #desc7,
.page-8 #desc8,
.page-9 #desc9,
.page-10 #desc10,
.page-11 #desc11,
.page-12 #desc12,
.page-13 #desc13,
.page-14 #desc14,
{
  display: block;
}

// ensure the headline doesn't head the top of the screen, but looks kinda good
#qualityheader:before {
  content: "";
  display: block;
  height: 0.8em;
  margin: -0.8em 0 0;
}

#quality {
  margin-bottom: 0.8em;
  width: 100%;
}

#quality table {
  $paddingLR: 0.3em;

  border-spacing: 0;
  border-collapse: collapse;
  width: calc(100% + #{2*$paddingLR});
  margin: 0 -$paddingLR;
  margin-bottom: 0.8em;

  th, td {
    vertical-align: top;
    font-weight: normal;
    padding: 0.3em $paddingLR;
  }

  th {
    text-align: left;
  }

  th + td {
    text-align: left;
  }

  td + td {
    text-align: right;
    border-left: 1px solid #ddd;
  }

  td[colspan="2"] {
    text-align: center;
  }

  tr:nth-child(even) {
    background: #eee;
  }
}

$header-height: 3.5em;
$control-size: 2em;
#header {
  text-align: center;
  background: #333;
  color: #fff;
  height: $header-height;
  line-height: $header-height;
  text-decoration: none;
  display: block;

  h2 {
    margin: 0;
  }
}


#controls {
  background: #333;
  display: flex;
  flex-direction: row;
  height: $control-size;
  line-height: $control-size;
  overflow: hidden;
  user-select: none;

  &.hidden {
    visibility: hidden;
  }

   &.disable-next {
      #playstop, #next {
        opacity: 0.7;
        color: #888;
        pointer-events: none;
        cursor: default;
      }
    }

    &.disable-prev {
      #prev {
        opacity: 0.7;
        color: #888;
        pointer-events: none;
        background: transparent;
        cursor: default;
      }
    }

  @import "range";

  a {
    font-size: 1em;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    width: $control-size;
    height: $control-size;
    padding: 0;
    border-radius: 0.1em;
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: #666;
      // text-decoration: none;
    }
  }
}

.route-icon {
  margin-left: -0.85em;
  margin-top: -0.85em;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  font-weight: bold;
}

.icon, .shortcoming {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  line-height: 1.5em;
  margin-top: -0.35em;
  margin-bottom: -0.15em;
  font-size: 90%;
  font-weight: normal;
  color: #fff !important;
  text-decoration: none;
  cursor: default;
  font-family: Verdana, sans;

  &.mapboxgl-marker {
    cursor: pointer;
    font-size: 1.1em;
  }
}

a.icon:hover {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.shortcoming,
.route-icon,
.icon {
  color: #fff;
  border-radius: 50%;
  border: 0.13em solid white;
  text-align: center;
  vertical-align: middle;
  text-shadow: -0.05em 0.05em 0 rgba(0, 0, 0, 0.2),
    0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em -0.05em 0 rgba(0, 0, 0, 0.2),
    -0.05em -0.05em 0 rgba(0, 0, 0, 0.2);
}

/* icon1 to 14 colors are generated through Ruby build script */
.icon0,
.route-icon0 {
  background: #bbb;
}
@import 'routes/geo/icons';

#map, #mly {
  width: 100%;
  height: 100%;
}

a {
  color: #0366d6;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

table.routing {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: calc(100% + 2*#{$sidebar-content-padding});
  margin-left: -$sidebar-content-padding;


  a {
    color: #000;
  }

  tr,
  td,
  th {
    padding: 0;
  }

  // this will control the size of the abstract route rendering, since it needs
  // to match in cell height for the different sub-icons to line up.
  $table-cell-height: 20px;

  td {
    height: $table-cell-height;
    white-space: nowrap;
  }

  tr:first-child {
    background: linear-gradient(to bottom, #333, #333 0.5em, transparent 0.5em) no-repeat;
  }

  $main-route-icon-size: 1.5em;
  // i.e. center column that displays the route
  tr:first-child td:nth-child(2) {
    // image will be set through HTML
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto calc(100% - #{$main-route-icon-size});
    width: 1.25*2*$table-cell-height;
    vertical-align: top;
    text-align: center;
    padding-top: 0.42em;

    .icon {
      font-size: 120%;
      width: $main-route-icon-size;
      height: $main-route-icon-size;
    }
  }

  td:first-child {
    text-align: right;
  }

  td:last-child {
  }

  td.dir {
    opacity: 0.3;
  }
}

.old-browser table.routing tr:first-child {
  background: transparent;
}



#indicator, #indicator-rotate {
  height: 2em;
  width: 2em;
  pointer-events: none;
}

#indicator-loc {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.8em;
  border: 0.2em solid #000;
  box-shadow: 0 0 0.1em 0.1em #fff;
  height: 0.8em;
  left: 50%;
  position: absolute;
  text-color: #000;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.8em;
}

#indicator-dir {
  &::before {
    content: '▴';
    font-size: 1.3em; // adjust translateY below as needed
  }
  height: 2em;
  left: 50%;
  position: relative;
  top: 0%;
  text-align: center;
  text-shadow:  0.1em  0.0em 0.1em #fff,
                0.1em -0.1em 0.1em #fff,
               -0.1em  0.0em 0.1em #fff,
               -0.1em -0.1em 0.1em #fff;
  transform: translate(-50%, -45%);
  width: 2em;
  z-index: 10;
  // outline: 1px solid green;
}

#quality, .review {
  p, ol, ul {
    margin-bottom: 0.55em;
  }
}

@media not all and (max-width: 700px) {
  @import "desktop";
}

@media all and (max-width: 700px) {
  @import "mobile.scss";
}

span[title] {
  cursor: help;
  border-bottom: 0.05em dotted #000;
}

.shortcoming.mapboxgl-marker {
  display: none;
}

@import 'routes/geo/shortcomings';

span.shortcoming {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}

.toggle-route-markers {
  .icon.mapboxgl-marker {
    display: none;
  }

  .shortcoming.mapboxgl-marker {
    display: block;
  }
}

#impressum {
  margin-top: 1rem;
  display: block;
  text-align: right;

  a, a:hover {
    color: #888;
  }
}

#routes::after {
  content: "";
  margin-bottom: 0.5em;
  display: block;
}

#other {
  display: block;
}

#outdated-browser {
  background: #ECD0D0;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  margin-bottom: 0.1rem;
  display: none;
}

.old-browser #outdated-browser {
  display: block;
}

.vision-normal {
  display: none;
}

.colorblind {
  .vision-colorblind {
    display: none;
  }

  .vision-normal {
    display: initial;
  }
}

// ensure the image location/viewing direction marker is drawn above route
// and quality icons
#indicator {
  z-index: 1;
}

#mly .CoverButtonIcon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDEuOTk5IDQxLjk5OSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDEuOTk5IDQxLjk5OTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0zNi4wNjgsMjAuMTc2bC0yOS0yMEM2Ljc2MS0wLjAzNSw2LjM2My0wLjA1Nyw2LjAzNSwwLjExNEM1LjcwNiwwLjI4Nyw1LjUsMC42MjcsNS41LDAuOTk5djQwICBjMCwwLjM3MiwwLjIwNiwwLjcxMywwLjUzNSwwLjg4NmMwLjE0NiwwLjA3NiwwLjMwNiwwLjExNCwwLjQ2NSwwLjExNGMwLjE5OSwwLDAuMzk3LTAuMDYsMC41NjgtMC4xNzdsMjktMjAgIGMwLjI3MS0wLjE4NywwLjQzMi0wLjQ5NCwwLjQzMi0wLjgyM1MzNi4zMzgsMjAuMzYzLDM2LjA2OCwyMC4xNzZ6IiBzdHlsZT0iZmlsbDogcmdiKDI1NSwgMjU1LCAyNTUpOyI+PC9wYXRoPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==);
  background-size: 50%;
  background-position: center center;
}

#side {
  position: relative;
}

#side.wait::before {
  color: white;
  content: '⌛';
  display: block;
  font-weight: bold;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  text-shadow: -0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em -0.05em 0 rgba(0, 0, 0, 0.2), -0.05em -0.05em 0 rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 1;
}

ol.route-list {
  list-style-type: none;
  padding: 0;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    margin: 0.5rem 0;
    display: inline-block;
  }

  break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

ol.hide-bullets {
  list-style-type: none;
  padding: 0;

  time {
    width: 2.5em;
    display: inline-block;
  }

  a {
    width: calc(100% - 3em);
    display: inline-block;
    float: right;
  }

  li { clear: both; }

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
