html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.1em;
  overflow: hidden;
  display: flex;

  // because Safari is special and still scrolls even with overflow: hidden
  height: 100%;
  width: 100%;
  position: fixed;
}

$sidebar-width: 40%;
$sidebar-max-width: 35em;
#main {
  height: 100%;
  flex: 2 0 50%;
}

#sidebar {
  background: #F8F8F8;
  height: 100%;
  flex: 1 1 20em;
}

#info, #extras, #descquality {
  padding: 0 1em;
  margin-bottom: 0.8em;

  h3, h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  ul {
    padding-left: 0.8em;
    line-height: 120%;
  }

  p {
    text-align: justify;
  }

  ul, p {
    margin-top: 0;
  }
}

// ensure the headline doesn't head the top of the screen, but looks kinda good
#qualityheader:before {
  content: "";
  display: block;
  height: 0.8em;
  margin: -0.8em 0 0;
}

#quality {
  margin-bottom: 0.8em;
  width: 100%;
}

#quality table {
  $paddingLR: 0.3em;

  border-spacing: 0;
  border-collapse: collapse;
  width: calc(100% + #{2*$paddingLR});
  margin: 0 -$paddingLR;
  margin-bottom: 0.8em;

  th, td {
    vertical-align: top;
    font-weight: normal;
    padding: 0.3em $paddingLR;
  }

  th {
    text-align: left;
  }

  th + td {
    text-align: left;
  }

  td + td {
    text-align: right;
    border-left: 1px solid #ddd;
  }

  td[colspan="2"] {
    text-align: center;
  }

  tr:nth-child(even) {
    background: #eee;
  }
}

$header-height: 3.5em;
$side-height: 50%;
$control-size: 2em;
#header {
  text-align: center;
  background: #333;
  color: #fff;
  height: $header-height;
  line-height: $header-height;

  h2 {
    cursor: pointer;
    margin: 0;
  }
}

#routes {
  height: calc(100% - #{$header-height + $control-size} - #{$side-height});
  overflow-y: auto;
  overflow-x: hidden;
}


#controls {
  background: #333;
  display: flex;
  flex-direction: row;
  height: $control-size;
  line-height: $control-size;
  overflow: hidden;

  &.hidden {
    visibility: hidden;
  }

  @import "range";

  a {
    font-size: 1em;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    width: $control-size;
    height: $control-size;
    padding: 0;
    border-radius: 0.1em;
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover {
      background: #666;
      // text-decoration: none;
    }

    &:disabled {
      color: #888;
      background: transparent;
      cursor: default;
    }
  }
}

#side {
  width: 100%;
  height: $side-height;
}

.route-icon {
  margin-left: -0.85em;
  margin-top: -0.85em;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  font-weight: bold;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  line-height: 1.5em;
  margin-top: -0.35em;
  margin-bottom: -0.15em;
  font-size: 90%;
  font-weight: normal;
  color: #fff !important;
  text-decoration: none;
  cursor: default;
  font-family: Verdana, sans;

  &.mapboxgl-marker {
    cursor: pointer;
    font-size: 1.1em;
  }
}

a.icon:hover {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.route-icon,
.icon {
  color: #fff;
  border-radius: 50%;
  border: 0.1em solid white;
  text-align: center;
  vertical-align: middle;
  text-shadow: -0.05em 0.05em 0 rgba(0, 0, 0, 0.2),
    0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em -0.05em 0 rgba(0, 0, 0, 0.2),
    -0.05em -0.05em 0 rgba(0, 0, 0, 0.2);
}

/* icon1 to 14 colors are generated through Ruby build script */
.icon0,
.route-icon0 {
  background: #bbb;
}
@import 'routes/geo/icons';

#map, #mly {
  width: 100%;
  height: 100%;
}

a {
  color: #0366d6;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

table.routing {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;

  a {
    color: #000;
  }

  tr,
  td,
  th {
    padding: 0;
  }

  // this will control the size of the abstract route rendering, since it needs
  // to match in cell height for the different sub-icons to line up.
  $table-cell-height: 20px;

  td {
    height: $table-cell-height;
    white-space: nowrap;
  }

  tr:first-child {
    background: linear-gradient(to bottom, #333, #333 0.5em, transparent 0.5em) no-repeat;
  }

  $main-route-icon-size: 1.5em;
  // i.e. center column that displays the route
  tr:first-child td:nth-child(2) {
    // image will be set through HTML
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto calc(100% - #{$main-route-icon-size});
    width: 1.25*2*$table-cell-height;
    vertical-align: top;
    text-align: center;
    padding-top: 0.42em;

    .icon {
      font-size: 120%;
      width: $main-route-icon-size;
      height: $main-route-icon-size;
    }
  }

  td:first-child {
    text-align: right;
  }

  td:last-child {
  }

  td.dir {
    opacity: 0.3;
  }
}

.desc {
  display: none;
}

#indicator, #indicator-rotate {
  height: 2em;
  width: 2em;
  pointer-events: none;
}

#indicator-loc {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.8em;
  border: 0.2em solid #000;
  box-shadow: 0 0 0.1em 0.1em #fff;
  height: 0.8em;
  left: 50%;
  position: absolute;
  text-color: #000;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.8em;
}

#indicator-dir {
  &::before {
    content: '▴';
    font-size: 1.3em; // adjust translateY below as needed
  }
  height: 2em;
  left: 50%;
  position: relative;
  top: 0%;
  text-align: center;
  text-shadow:  0.1em  0.0em 0.1em #fff,
                0.1em -0.1em 0.1em #fff,
               -0.1em  0.0em 0.1em #fff,
               -0.1em -0.1em 0.1em #fff;
  transform: translate(-50%, -45%);
  width: 2em;
  z-index:9999;
  // outline: 1px solid green;
}

.only-mobile {
  display: none;
}

.not-mobile {
  display: inline;
}

@media only screen and (max-width: 700px) {
  body {
    flex-direction: column-reverse;
    overflow: auto;
    height: auto;
    width: auto;
    position: static;
  }

  .only-mobile {
    display: inline;
  }

  .not-mobile {
    display: none;
  }

  #main, #side {
    height: 39vh;
  }

  #routes {
    overflow: auto;
    height: auto;
  }

  #controls {
    justify-content: space-around;
    a {
      width: 3.5em;
    }

    &.hidden {
      visibility: visible;
    }
  }

  #slider, #swap {
    display: none !important;
  }
}

span[title] {
  cursor: help;
  border-bottom: 0.05em dotted #000;
}

.hide-route-markers {
  .icon.mapboxgl-marker {
    display: none;
  }
}
