// XXX: some combinations of the height values make iOS Safari break the panning
// mechanism of the map. I cannot find any rhyme or reason to this, but it
// apparently depends on the screen size. Different iOS devices need different
// height values. Placing the map above Mapillary seems to work, though.

$block-size: 40vh;
#main {
  height: $block-size;
  margin-top: -$block-size;
}

#side {
  top: $block-size;
  height: $block-size;
}

#controls {
  justify-content: space-around;
  a {
    width: 3.5em;
  }

  &.hidden {
    visibility: visible;
  }
}

.only-mobile {
  display: inline;
}

.not-mobile {
  display: none;
}
