#desc__REPLACE_ROUTE__ table.routing td {
  &.line {
    background-image: url(route-icon/BSicon_STR.svg), url(route-icon/BSicon_STR.svg);
  }

  &.conn {
    background-image: url(route-icon/ABZgr.svg), url(route-icon/BSicon_STR.svg);
  }

  &.fork {
    background-image: url(route-icon/BSicon_BS2_l.svg), url(route-icon/BSicon_BS2_r.svg);
  }

  &.fork {
    background-image: url(route-icon/BSicon_BS2_l.svg), url(route-icon/BSicon_BS2_r.svg);
  }

  &.dott {
    background-image: url(route-icon/dotted.svg), url(route-icon/dotted.svg);
  }

  &.dott.line {
    background-image: url(route-icon/dotted.svg), url(route-icon/BSicon_STR.svg);
  }
}
