<%# put map here to see if that prevents it getting removed from DOM? %>
<.live_component
  phx-update="ignore"
  module={VelorouteWeb.Live.Map}
  id="map"
  map_bounds={@map_bounds}
  video={@video}
  current_page={@current_page}
/>

<%= @inner_content %>
