<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, viewport-fit=cover"/>
  <title><%= @page_title || Settings.page_title_long() %></title>
  <meta name="csrf-token" content={Phoenix.Controller.get_csrf_token()} />
  <link rel="canonical" href={@canonical_url}/>

  <link rel="icon" type="image/png" size="16x16" href="/favicons/16.png?vsn=1">
  <link rel="icon" type="image/png" size="32x32" href="/favicons/32.png?vsn=1">
  <link rel="icon" type="image/png" size="48x48" href="/favicons/48.png?vsn=1">
  <link rel="icon" type="image/png" size="192x192" href="/favicons/192.png?vsn=1">
  <link rel="apple-touch-icon" href="/favicons/57.png?vsn=1">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/152.png?vsn=1">
  <link rel="apple-touch-icon" sizes="167x167" href="/favicons/167.png?vsn=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/180.png?vsn=1">
  <link rel="apple-touch-startup-image" href="/favicons/192.png?vsn=1">
  <link rel="manifest" href="/favicons/manifest.json?vsn=1">
  <link rel="alternate" type="application/atom+xml" href="/updates.atom" title={Settings.feed_title()}>
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta property="og:site_name" content={Settings.sitebar_name()}/>
  <meta property="og:image:width" content="1280"/>
  <%= if Settings.twitter_handle() != nil do %>
    <meta property="twitter:site" content={Settings.twitter_handle()}/>
  <% end %>
  <meta name="twitter:card" content="summary_large_image" />
  <link rel="me" href="https://norden.social/@VelorouteHamburg">
  <%= VelorouteWeb.CSSInline.tag(:app) %>
</head>
<body>
  <%= @inner_content %>

  <script type="text/javascript" defer src={~p"/assets/mbgl2.js"} fetchpriority="high"></script>
  <script type="text/javascript" defer
    src={~p"/assets/map.js"}
    fetchpriority="high"
    data-max-bounds={Settings.bounds() |> Enum.map(&to_string/1) |> Enum.join(",")}
    data-initial={VelorouteWeb.VariousHelpers.to_string_center_zoom(@map_bounds)}
  ></script>
  <script type="text/javascript" defer src={~p"/assets/liveview.js"}></script>
  <script type="text/javascript" defer src={~p"/assets/app.js"}></script>
  <script type="text/javascript" defer src={~p"/assets/video_player.js"} fetchpriority="low"></script>

  <%= if @enable_drawing_tools do %>
    <link rel='stylesheet' href={~p"/assets/mapbox_compatibility_shim.css"} type='text/css' />
    <link rel='stylesheet' href={~p"/assets/link_helper.css"} type='text/css' />
    <script type="text/javascript" defer src={~p"/assets/link_helper.js"}></script>
  <% end %>

  <% active_style = Enum.find(Settings.map_styles, fn %{active: act} -> act end).id %>
  <link rel="preload" href={active_style} as="fetch" crossorigin="anonymous">
  <link rel="preload" href={"/assets/basemap/tiles/metadata.json"} as="fetch" crossorigin="anonymous">
  <link rel="preload" href={Basemap.Tiles.tile_path_for_bounds(@map_bounds)} as="fetch" fetchpriority="low" crossorigin="anonymous">
  <link rel="preload" href="/assets/basemap/fonts/Open Sans Regular/0-255.pbf" as="fetch" fetchpriority="low" crossorigin="anonymous">
  <link rel="preload" href="/assets/basemap/fonts/Open Sans Semi Bold/0-255.pbf" as="fetch" fetchpriority="low" crossorigin="anonymous">
</body>
</html>
