$minWidth: 330px;
$mainWidth: 66.6666vw;
$sidebarWidth: 33.3333vw;
$bgcolor: #f8f8f8;
$darkBg: #333;
$darkBgHighlight: #666;
$contentPad: 0.9rem;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  touch-action: manipulation;
}

html,
body>div {
  overflow: hidden;
}

body {
  overflow: hidden;
  height: 100vh;
  height: -webkit-fill-available;
  background: $bgcolor;
  font-family: Arial, sans;
  font-size: 0.9em;

  &.loading::before {
    color: white;
    content: '⌛'; // hourglass
    display: block;
    font-weight: bold;
    right: 0;
    padding: 0.3rem 0.5rem;
    position: absolute;
    text-shadow: -0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em -0.05em 0 rgba(0, 0, 0, 0.2), -0.05em -0.05em 0 rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 1;
    font-size: 2em;
  }
}


#map,
#fakeMap,
#mly,
#mlyPlaceholder,
#mlyPlaceholderOuter {
  width: $mainWidth;
  min-width: $minWidth;
  height: 50%;
  display: block;
  left: 0;
  position: fixed;
}

#map {
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #efe9e1;
}

#fakeMap {
  z-index: 2;
  top: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 0.2s;
  pointer-events: none;
}

#mly,
#mlyPlaceholder,
#mlyPlaceholderOuter {
  top: 50%;
  overflow: hidden;
}

#sidebar {
  width: $sidebarWidth;
  min-width: $minWidth;
  height: 100vh;
  height: -webkit-fill-available;
  position: relative;
  top: 0;
  left: $minWidth; // old browsers doesn't support max() -- for mobile devices
  left: unquote('max(#{$minWidth}, #{$mainWidth})');
  background: $bgcolor;
  display: flex;
  flex-flow: column;
  z-index: 3;
}

@media (min-width: 3*$minWidth) {
  #sidebar {
    left: $mainWidth; // old browsers doesn't support max() -- for desktop
    left: unquote('max(#{$minWidth}, #{$mainWidth})');
    position: fixed;
  }

  #switcher {
    display: none !important;
  }
}

.showSidebar #sidebar {
  transition: all 0.3s ease;
  left: calc(100vw - #{$minWidth}); // old browsers doesn't support max() -- for both
  left: unquote('min(100vw - #{$minWidth}, #{$mainWidth})');
}

.hideSidebar #sidebar {
  transition: all 0.3s ease;
}

#content {
  padding: $contentPad;
  padding-top: 0;
  min-width: $minWidth;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  -ms-hyphens: auto;
  hyphens: auto;

  &.bottomBumper {
    margin-bottom: 2.5rem;
  }
}

#slideshow {
  $btnSize: 2.5rem;

  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;
  min-width: $minWidth;
  box-sizing: border-box;

  padding: 0 1rem;
  color: #fff;
  height: $btnSize;
  background: $darkBg;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  touch-action: pan-x;

  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.4);

  button {
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    background: $darkBg;
    width: $btnSize;
    height: $btnSize;
    border: 0;
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 130%;
    touch-action: manipulation;

    &:hover {
      background: $darkBgHighlight;
    }

    &:disabled {
      opacity: .7;
      color: #888;
      pointer-events: none;
      cursor: default;
    }
  }

  .curRoute {
    height: $btnSize;
    line-height: $btnSize;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    color: #fff;
    text-decoration: none;
  }
}

#switcher {
  $width: 26px;
  $height: 68px;

  position: absolute;
  position: sticky;
  top: calc(50vh - #{$height/2});
  left: 0;
  height: 0;
  overflow: visible;
  touch-action: pan-x;

  div {
    margin-left: #{$width/-2};
    width: 0;
    height: 0;
    user-select: none;
    background-image: url("/images/switcher.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: $width;
    height: $height;
    touch-action: pan-x;
    background-size: cover;
  }
}

#mlyPlaceholder,
#mlyPlaceholderOuter {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#mlyPlaceholder {
  cursor: pointer;
  touch-action: manipulation;
  transition: background-image 0.5s ease-in-out;

  .playIcon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 72px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDEuOTk5IDQxLjk5OSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDEuOTk5IDQxLjk5OTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0zNi4wNjgsMjAuMTc2bC0yOS0yMEM2Ljc2MS0wLjAzNSw2LjM2My0wLjA1Nyw2LjAzNSwwLjExNEM1LjcwNiwwLjI4Nyw1LjUsMC42MjcsNS41LDAuOTk5djQwICBjMCwwLjM3MiwwLjIwNiwwLjcxMywwLjUzNSwwLjg4NmMwLjE0NiwwLjA3NiwwLjMwNiwwLjExNCwwLjQ2NSwwLjExNGMwLjE5OSwwLDAuMzk3LTAuMDYsMC41NjgtMC4xNzdsMjktMjAgIGMwLjI3MS0wLjE4NywwLjQzMi0wLjQ5NCwwLjQzMi0wLjgyM1MzNi4zMzgsMjAuMzYzLDM2LjA2OCwyMC4xNzZ6IiBzdHlsZT0iZmlsbDogcmdiKDI1NSwgMjU1LCAyNTUpOyI+PC9wYXRoPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==);
    background-size: 50%;
    height: 72px;
    width: 72px;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    left: 50%;
    position: relative;
    margin-left: -36px;
    margin-top: -36px;
  }
}

a.header {
  color: #fff;
  line-height: 2em;
  display: block;
  background: $darkBg;
  text-align: center;
  font-weight: bold;
  font-size: 1.6em;
  text-decoration: none !important;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  line-height: 1.5em;
  margin-top: -0.35em;
  margin-bottom: -0.15em;
  font-size: 90%;
  font-weight: normal;
  cursor: default;
  text-decoration: none;
  color: #fff !important;
  border-radius: 50%;
  border: 0.13em solid white;
  text-align: center;
  vertical-align: middle;
  text-shadow: -0.05em 0.05em 0 rgba(0, 0, 0, 0.2),
    0.05em 0.05em 0 rgba(0, 0, 0, 0.2), 0.05em -0.05em 0 rgba(0, 0, 0, 0.2),
    -0.05em -0.05em 0 rgba(0, 0, 0, 0.2);
}

a.icon {
  cursor: pointer;

  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}

abbr {
  cursor: help;
  text-decoration: underline dotted;
}


h3,
h4 {
  margin-top: 1em;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.0rem;
}

h5 {
  margin-top: 0.5em;
  font-size: 0.9rem;
  font-weight: normal;
  font-style: italic;
}

h3:first-child + .duration {
  color: #888;
  font-style: italic;
  display: block;
  margin-top: 0.4em;
}

time.updated {
  color: #888;
  text-align: right;
  font-style: italic;
  display: block;
}

ul,
ol {
  padding-left: 0.85rem;
  line-height: 120%;
  margin-top: 0.6rem;

  li {
    margin-bottom: 0.4rem;
  }

  .duration {
    color: #999;
    float: right;
    padding-left: .5em;
  }
}

ol.route-list {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    margin: 0.5rem 0;
    display: inline-block;
  }

  break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}

ol.hide-bullets {
  list-style-type: none;
  padding: 0;

  time {
    width: 4em;
    display: inline-block;
  }

  a {
    width: calc(100% - 4.5em);
    display: inline-block;
    float: right;
  }

  li {
    clear: both;
  }

  li.separator {
    margin-top: 1rem;
    font-weight: bold;
  }

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

p {
  text-align: justify;
  margin-top: 0.6rem;
}

h5 + p {
  margin-top: 0.25rem;
}

a {
  color: #0366d6;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#impressum {
  margin-top: 2em;
  float: right;

  a {
    color: #888;
  }
}

#indicator,
#indicator-rotate {
  height: 2em;
  width: 2em;
  pointer-events: none;

  &.animate {
    transition: linear 0.4s;
  }
}

#indicator-loc {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.8em;
  border: 0.2em solid #000;
  box-shadow: 0 0 0.1em 0.1em #fff;
  height: 0.8em;
  left: 50%;
  position: absolute;
  color: #000;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.8em;
}

#indicator-dir {
  &::before {
    content: '▴';
    font-size: 1.3em; // adjust translateY below as needed
  }

  height: 2em;
  left: 50%;
  position: relative;
  top: 0%;
  text-align: center;
  text-shadow: 0.1em 0.0em 0.1em #fff,
  0.1em -0.1em 0.1em #fff,
  -0.1em 0.0em 0.1em #fff,
  -0.1em -0.1em 0.1em #fff;
  transform: translate(-50%, -45%);
  width: 2em;
  z-index: 10;
}

span[title],
#slideshow .curRoute {
  cursor: help;
  border-bottom: 0.05em dotted #000;
}


p.alert {
  background: #ECD0D0;
  padding: $contentPad;
  margin: 0 #{-1*$contentPad};
}



.nowebgl {
  #mly {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mly::before {
    display: block;
    background: #ddd;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 20rem;
    z-index: 100;
    margin: auto;
    content: "In diesem Browser scheint „WebGL“ deaktiviert zu sein. Dem ist normalerweise nicht so, d.h. vermutlich liegt es an der Technik. Bitte suche im Internet nach Lösungen oder frage eine technikaffine Person um Hilfe.";
  }
}

table.routing {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: calc(100% + 2*#{$contentPad});
  margin-left: -$contentPad;


  a {
    color: #000;
  }

  tr,
  td,
  th {
    padding: 0;
  }

  // this will control the size of the abstract route rendering, since it needs
  // to match in cell height for the different sub-icons to line up.
  $table-cell-height: 20px;

  td {
    height: $table-cell-height;
    white-space: nowrap;
  }

  $main-route-icon-size: 1.5em;

  // i.e. center column that displays the route
  tr:first-child td:nth-child(2) {
    // image will be set through HTML
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto calc(100% - #{$main-route-icon-size});
    width: 1.25*2*$table-cell-height;
    vertical-align: top;
    text-align: center;
    padding-top: 0.42em;

    .icon {
      font-size: 120%;
      width: $main-route-icon-size;
      height: $main-route-icon-size;
    }
  }

  td:first-child {
    text-align: right;
  }

  td.dir {
    opacity: 0.3;
  }

  .icon {
    margin: 0 0.2em;
  }
}

input[type=search] {
  margin-top: 0.6rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #cdc7c2;
  outline: 0;
  font-size: 16px;

  &:focus {
    border: 1px solid #3584e4;
    box-shadow: 0 0 0 1px #3584e4;
  }
}

@media (min-width: 3*$minWidth) {
  input[type=search] {
    font-size: inherit;
  }
}

div.aside {
  color: #888;
  font-style: italic;
  display: block;
}

@import "mapbox.css"
