.mapboxgl-map {
  font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.mapboxgl-canvas {
  position: absolute;
  left: 0;
  top: 0
}

.mapboxgl-map:-webkit-full-screen {
  width: 100%;
  height: 100%
}

.mapboxgl-canvas-container.mapboxgl-interactive:active,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate .mapboxgl-canvas {
  touch-action: pan-x pan-y
}

.mapboxgl-canvas-container.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: pinch-zoom
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: none
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 2
}

.mapboxgl-ctrl-bottom-left {
  bottom: 0;
  left: 0
}

.mapboxgl-ctrl-bottom-right {
  right: 0;
  bottom: 0
}

.mapboxgl-ctrl-top-left {
  top: 0;
  left: 0
}

.mapboxgl-ctrl-top-right {
  top: 0;
  right: 0
}

.mapboxgl-ctrl {
  clear: both;
  pointer-events: auto;
  transform: translate(0)
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 2px 0 0 6px;
  float: left
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 10px 10px 0 0;
  float: right
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0 0 5px 4px;
  float: left
}

.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  margin: 0 10px 10px 0;
  float: right
}

.mapboxgl-ctrl-group {
  border-radius: 4px;
  background: #fff
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1)
}

a.mapboxgl-ctrl-logo {
  width: 88px;
  height: 23px;
  margin: 0 0 -4px -4px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  background-image: url("/images/mapbox-ctrl-logo.svg")
}

a.mapboxgl-ctrl-logo.mapboxgl-compact {
  width: 23px
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  padding: 0 5px;
  background-color: hsla(0, 0%, 100%, .5);
  margin: 0
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  min-height: 20px;
  padding: 0;
  margin: 2px;
  position: relative;
  background-color: #fff;
  border-radius: 3px 12px 12px 3px
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:hover {
  padding: 2px 24px 2px 4px;
  visibility: visible;
  margin-top: 2px
}

.mapboxgl-ctrl-bottom-left>.mapboxgl-ctrl-attrib.mapboxgl-compact:hover {
  padding: 2px 4px 2px 24px;
  border-radius: 12px 3px 3px 12px
}

.mapboxgl-ctrl-attrib.mapboxgl-compact .mapboxgl-ctrl-attrib-inner {
  display: none
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:hover .mapboxgl-ctrl-attrib-inner {
  display: block
}

.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  content: "";
  cursor: pointer;
  position: absolute;
  background-image: url("/images/mapbox-ctrl-compact.svg");
  background-color: hsla(0, 0%, 100%, .5);
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px
}

.mapboxgl-ctrl-bottom-right>.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  bottom: 0;
  right: 0
}

.mapboxgl-ctrl-bottom-left>.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  bottom: 0;
  left: 0
}

.mapboxgl-ctrl-top-right>.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  top: 0;
  right: 0
}

.mapboxgl-ctrl-attrib a {
  color: rgba(0, 0, 0, .75);
}

.mapboxgl-ctrl-attrib .mapbox-improve-map {
  font-weight: 700;
  margin-left: 2px
}

.mapboxgl-ctrl-attrib-button {
  display: none;
}

.mapboxgl-ctrl-group button {
  width: 29px;
  height: 29px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer
}

.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%
}

.mapboxgl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  opacity: 1;
  transition: opacity .2s
}
