.maplibregl-map {
  font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.maplibregl-canvas {
  position: absolute;
  left: 0;
  top: 0
}

.maplibregl-map:-webkit-full-screen {
  width: 100%;
  height: 100%
}

.maplibregl-canvas-container.maplibregl-interactive:active,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate .maplibregl-canvas {
  touch-action: pan-x pan-y
}

.maplibregl-canvas-container.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-drag-pan .maplibregl-canvas {
  touch-action: pinch-zoom
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan .maplibregl-canvas {
  touch-action: none
}

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right,
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 2
}

.maplibregl-ctrl-bottom-left {
  bottom: 0;
  left: 0
}

.maplibregl-ctrl-bottom-right {
  right: 0;
  bottom: 0
}

.maplibregl-ctrl-top-left {
  top: 0;
  left: 0
}

.maplibregl-ctrl-top-right {
  top: 0;
  right: 0
}

.maplibregl-ctrl {
  clear: both;
  pointer-events: auto;
  transform: translate(0)
}

.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 0;
  float: left
}

.maplibregl-ctrl-top-left .maplibregl-ctrl-group {
  border-radius: 0;
  border-bottom-right-radius: 4px;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 10px 10px 0 0;
  float: right
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 5px 4px;
  float: left
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin: 0 10px 10px 0;
  float: right
}

.maplibregl-ctrl-group {
  border-radius: 4px;
  background: #fff
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1)
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
  padding: 0 5px;
  background-color: hsla(0, 0%, 100%, .5);
  margin: 0
}

.maplibregl-ctrl-bottom-right>.maplibregl-ctrl-attrib.maplibregl-compact:after {
  bottom: 0;
  right: 0
}

.maplibregl-ctrl-bottom-left>.maplibregl-ctrl-attrib.maplibregl-compact:after {
  bottom: 0;
  left: 0
}

.maplibregl-ctrl-top-right>.maplibregl-ctrl-attrib.maplibregl-compact:after {
  top: 0;
  right: 0
}

.maplibregl-ctrl-attrib a {
  color: rgba(0, 0, 0, .75);
}

.maplibregl-ctrl-attrib .mapbox-improve-map {
  font-weight: 700;
  margin-left: 2px
}

.maplibregl-ctrl-attrib-button {
  display: none;
}

.maplibregl-ctrl-group button {
  width: 29px;
  height: 29px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer
}

.maplibregl-ctrl button .maplibregl-ctrl-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%
}

.maplibregl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  opacity: 1;
  transition: opacity .2s
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13z'/%3E%3C/svg%3E%0A");
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5'/%3E%3C/svg%3E%0A");
}

.maplibregl-ctrl button.maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon,
.maplibregl-ctrl button.maplibregl-ctrl-shrink .maplibregl-ctrl-icon {
  background: url("/images/fullscreen.svg?vsn=1") no-repeat center center;
  background-size: 1rem;
  filter: invert(100%);
}

.maplibregl-ctrl button.maplibregl-ctrl-shrink .maplibregl-ctrl-icon {
  background-image: url("/images/minscreen.svg?vsn=1");
}

.maplibregl-ctrl button:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.maplibregl-ctrl button:disabled .maplibregl-ctrl-icon {
  opacity: 0.25;
}

.maplibregl-map.mouse-move {
  cursor: move;
}

.maplibregl-map.mouse-add {
  cursor: crosshair;
}

.maplibregl-map.mouse-pointer {
  cursor: pointer;
}
