.maplibregl-map {
  font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.maplibregl-canvas {
  position: absolute;
  left: 0;
  top: 0
}

.maplibregl-map:-webkit-full-screen {
  width: 100%;
  height: 100%
}

.maplibregl-canvas-container.maplibregl-interactive:active,
.maplibregl-ctrl-group button.maplibregl-ctrl-compass:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate .maplibregl-canvas {
  touch-action: pan-x pan-y
}

.maplibregl-canvas-container.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-drag-pan .maplibregl-canvas {
  touch-action: pinch-zoom
}

.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan,
.maplibregl-canvas-container.maplibregl-touch-zoom-rotate.maplibregl-touch-drag-pan .maplibregl-canvas {
  touch-action: none
}

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-top-right,
.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 2
}

.maplibregl-ctrl-bottom-left {
  bottom: 0;
  left: 0
}

.maplibregl-ctrl-bottom-right {
  right: 0;
  bottom: 0
}

.maplibregl-ctrl-top-left {
  top: 0;
  left: 0
}

.maplibregl-ctrl-top-right {
  top: 0;
  right: 0
}

.maplibregl-ctrl {
  clear: both;
  pointer-events: auto;
  transform: translate(0)
}

.maplibregl-ctrl-top-left .maplibregl-ctrl {
  margin: 2px 0 0 6px;
  float: left
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin: 10px 10px 0 0;
  float: right
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0 0 5px 4px;
  float: left
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl {
  margin: 0 10px 10px 0;
  float: right
}

.maplibregl-ctrl-group {
  border-radius: 4px;
  background: #fff
}

.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1)
}

a.maplibregl-ctrl-logo {
  width: 88px;
  height: 23px;
  margin: 0 0 -4px -4px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  background-image: url("/images/mapbox-ctrl-logo.svg")
}

a.maplibregl-ctrl-logo.maplibregl-compact {
  width: 23px
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
  padding: 0 5px;
  background-color: hsla(0, 0%, 100%, .5);
  margin: 0
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  min-height: 20px;
  padding: 0;
  margin: 2px;
  position: relative;
  background-color: #fff;
  border-radius: 3px 12px 12px 3px
}

.maplibregl-ctrl-attrib.maplibregl-compact:hover {
  padding: 2px 24px 2px 4px;
  visibility: visible;
  margin-top: 2px
}

.maplibregl-ctrl-bottom-left>.maplibregl-ctrl-attrib.maplibregl-compact:hover {
  padding: 2px 4px 2px 24px;
  border-radius: 12px 3px 3px 12px
}

.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-inner {
  display: none
}

.maplibregl-ctrl-attrib.maplibregl-compact:hover .maplibregl-ctrl-attrib-inner {
  display: block
}

.maplibregl-ctrl-attrib.maplibregl-compact:after {
  content: "";
  cursor: pointer;
  position: absolute;
  background-image: url("/images/mapbox-ctrl-compact.svg");
  background-color: hsla(0, 0%, 100%, .5);
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px
}

.maplibregl-ctrl-bottom-right>.maplibregl-ctrl-attrib.maplibregl-compact:after {
  bottom: 0;
  right: 0
}

.maplibregl-ctrl-bottom-left>.maplibregl-ctrl-attrib.maplibregl-compact:after {
  bottom: 0;
  left: 0
}

.maplibregl-ctrl-top-right>.maplibregl-ctrl-attrib.maplibregl-compact:after {
  top: 0;
  right: 0
}

.maplibregl-ctrl-attrib a {
  color: rgba(0, 0, 0, .75);
}

.maplibregl-ctrl-attrib .mapbox-improve-map {
  font-weight: 700;
  margin-left: 2px
}

.maplibregl-ctrl-attrib-button {
  display: none;
}

.maplibregl-ctrl-group button {
  width: 29px;
  height: 29px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer
}

.maplibregl-ctrl button .maplibregl-ctrl-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%
}

.maplibregl-marker {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
  opacity: 1;
  transition: opacity .2s
}
