
$pageWidth:  calc(210mm * 0.87);
$pageHeight: calc(297mm * 0.87);

html, body, body > div {
  width: $pageWidth;
  height: $pageHeight;
}
#map {
  width: $pageWidth;
  height: calc($pageHeight / 2);
}
@media (orientation: landscape) {
  html, body, body > div, #map {
    width: $pageHeight;
    height: $pageWidth;
  }
}

#videoControls, #ping, #switcher, [data-nosnippet="yes"], #impressum {
  display: none;
}

body, html, body > div {
  overflow: visible;
  height: auto;
}

body::before {
  display: none;
}

#sidebar, #map, #videoOuter, body {
  background: transparent;
}

#sidebar, #videoOuter {
  position: static;
  width: 100%;
  min-width: auto;
}

a.header {
  text-align: left;
  color: #000;
  background: transparent;
}

#sidebar {
  height: auto;
  padding-bottom: 1em;
  box-shadow: none;
}

#map {
  position: relative;
  overflow: hidden;
}

#videoRoute, #videoMetadata {
  opacity: 1;
  background: transparent;
  color: #000;
  position: static;
  display: inline-block;
}

#videoOuter {
  display:flex;
  flex-flow: column;
}
#videoRoute { order: 1; }
#videoMetadata { order: 2; }
#videoPoster { order: 3; }
#videoPoster::after, #videoPoster::before {
  display: none;
}
#videoInner {
  visibility: hidden;
}

#content {
  padding-left: 0;
  overflow: visible;

  a[href]:not([href^="/"]):not([href^="mailto"])::after {
    content: " (" attr(href) ")";
    text-decoration: none;
    display: inline-block;
    padding-left: 0.3em;
  }
}

a {
  color: #000;
  text-decoration: underline;
}



a.ref, a[phx-click] {
  color: #000;
  text-decoration: none;
}

.updated, .duration {
  color: #000 !important;
}

#map, #videoOuter {
  break-inside: avoid;
}

#videoOuter {
  break-after: page;
}

.mapboxgl-ctrl-geolocate, #layerSwitcher {
  display: none !important;
}
