<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Veloroute · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css' rel='stylesheet' />
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <!--<img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/> -->
    <!--<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p> %>-->

    <%= @inner_content %>

    <script type="text/javascript">
      window.mapbox_access_token = "<%= Credentials.mapbox_access_token %>";
      window.mapillary_api_key = "<%= Credentials.mapillary_api_key %>";
      window.bounds = [<%= Settings.bounds |> Enum.map(&to_string/1) |> Enum.join(",") %>];
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
