<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"/>
    <title><%= assigns[:page_title] || Settings.page_title_long() %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <link rel="canonical" href="<%= Settings.url() <> @conn.request_path %>"/>

    <link rel="icon" type="image/png" size="16x16" href="/favicons/16.png?vsn=1">
    <link rel="icon" type="image/png" size="32x32" href="/favicons/32.png?vsn=1">
    <link rel="icon" type="image/png" size="48x48" href="/favicons/48.png?vsn=1">
    <link rel="icon" type="image/png" size="192x192" href="/favicons/192.png?vsn=1">
    <link rel="apple-touch-icon" href="/favicons/57.png?vsn=1">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/152.png?vsn=1">
    <link rel="apple-touch-icon" sizes="167x167" href="/favicons/167.png?vsn=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/180.png?vsn=1">
    <link rel="apple-touch-startup-image" href="/favicons/192.png?vsn=1">
    <link rel="manifest" href="/favicons/manifest.json?vsn=1">
    <%# used on this page, unless fully cached %>
    <link rel="preconnect" href="https://images.mapillary.com">
    <link rel="preconnect" href="https://api.mapbox.com">
    <link rel="preconnect" href="https://a.tiles.mapbox.com">
    <link rel="preconnect" href="https://b.tiles.mapbox.com">
    <%# happens maybe %>
    <link rel="dns-prefetch" href="https://a.mapillary.com">
    <link rel="alternate" type="application/atom+xml" href="<%= Routes.feed_path(@conn, :feed) %>" title="<%= Settings.feed_title() %>">
    <meta name="referrer" content="strict-origin-when-cross-origin">
  </head>
  <body>
    <div id="map"></div>
    <div id="fakeMap" style="background-image: url('<%= Mapbox.static_map_url(@bounds) %>')"></div>
    <div id="mly"></div>

    <%= @inner_content %>

    <%= content_tag(:div, "", id: "settings", data: [
        mapbox_access_token: Credentials.mapbox_access_token(),
        mapillary_api_key: Credentials.mapillary_api_key(),
        max_bounds: Settings.bounds() |> Enum.map(&to_string/1) |> Enum.join(","),
        initial: VelorouteWeb.VariousHelpers.to_string_bounds(@bounds)
      ])
    %>

    <%
      ua = Plug.Conn.get_req_header(@conn, "user-agent") |> List.first() |> Kernel.||("")
    %>

    <%= if Browser.ie?(ua) || Browser.edge?(ua) do %>
      <%# hard polyfills IE will not work decently without %>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/polyfill.js") %>"></script>
    <% end %>

    <script type="text/javascript" async src="<%= Routes.static_path(@conn, "/js/map.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/liveview.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <%= if Plug.Conn.get_req_header(@conn, "dnt") != "1" do %>
      <script src="https://browser.sentry-cdn.com/5.15.5/bundle.min.js"
        integrity="sha384-wF7Jc4ZlWVxe/L8Ji3hOIBeTgo/HwFuaeEfjGmS3EXAG7Y+7Kjjr91gJpJtr+PAT"
        crossorigin="anonymous"
        onload="Sentry.init({ dsn: 'https://4728b21414cc4293a0636a0577aee097@o398714.ingest.sentry.io/5254791', release: '<%= Application.get_env(:sentry, :release) %>' }); Sentry.setTag('env', '<%= Application.get_env(:veloroute, :env) %>');" async></script>
    <% end %>
    <link rel="prefetch" href="<%= Routes.static_path(@conn, "/js/mly.js") %>">
  </body>
</html>
