<!DOCTYPE html>
<html lang="de">

  <%= @inner_content %>

  <script type="text/javascript" defer src={Routes.static_path(@conn, "/assets/mbgl2.js")}></script>
  <script type="text/javascript" defer
    src={Routes.static_path(@conn, "/assets/map.js")}
    data-max-bounds={Settings.bounds() |> Enum.map(&to_string/1) |> Enum.join(",")}
    data-initial={VelorouteWeb.VariousHelpers.to_string_bounds(@map_bounds)}
  ></script>
  <script type="text/javascript" defer src={Routes.static_path(@conn, "/assets/liveview.js")}></script>
  <script type="text/javascript" defer src={Routes.static_path(@conn, "/assets/app.js")}></script>
  <script type="text/javascript" defer src={Routes.static_path(@conn, "/assets/video_player.js")} fetchpriority="low"></script>

  <%= if Application.get_env(:veloroute, :enable_link_helper) do %>
    <link href='/map/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='/map/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css' type='text/css' />
    <script src='/map/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.js' defer></script>
    <script type="text/javascript" defer src={Routes.static_path(@conn, "/assets/link_helper.js")}></script>
  <% end %>

  <% active_style = Enum.find(Settings.map_styles, fn %{active: act} -> act end).id %>
  <link rel="preload" href={Routes.static_path(@conn, active_style)} as="fetch" crossorigin="anonymous">
  <link rel="preload" href={Routes.static_path(@conn, "/assets/basemap/tiles/metadata.json")} as="fetch" crossorigin="anonymous">
  <link rel="preload" href={Routes.static_path(@conn, "/assets/basemap/fonts/Open Sans Regular/0-255.pbf")} as="fetch" fetchpriority="low" crossorigin="anonymous">
  <link rel="preload" href={Routes.static_path(@conn, "/assets/basemap/fonts/Open Sans Semi Bold/0-255.pbf")} as="fetch" fetchpriority="low" crossorigin="anonymous">
  <link rel="preload" href={Routes.static_path(@conn, "/assets/basemap/tiles/#{Geo.CheapRuler.bounds_to_xyz(@map_bounds).str}.pbf")} as="fetch" fetchpriority="low" crossorigin="anonymous">
</html>
