# The idea is to deploy this twice, adapting the names and port in the Exec*
# directives. Mounting the videos is technically optional, since it's faster to
# serve them directly through the webserver in front, but it's nice for testing.

# To get downtime free deployments, the services should be restarted individually
# with a wait and/or check in between.

[Unit]
Description=Veloroute HTTP server
After=docker.service
Requires=docker.service

[Service]
RestartSec=5
Restart=always

ExecStartPre=-/usr/bin/docker stop veloroute1
ExecStart=/usr/bin/docker run --log-driver=journald --rm --name veloroute1 --mount type=bind,source=/path/to/videos,target=/app/videos/rendered/ -p=127.0.0.1:11371:4000/tcp veloroute.hamburg/v1:latest
ExecStop=/usr/bin/docker stop veloroute1

[Install]
WantedBy=multi-user.target
