# The idea is to deploy this twice, adapting the names and port in the Exec*
# directives. Mounting the videos is technically optional, since it's faster to
# serve them directly through the webserver in front, but it's nice for testing.

# To get downtime free deployments, the services should be restarted individually
# with a wait and/or check in between.

[Unit]
Description=Veloroute HTTP server
After=docker.service
Requires=docker.service

[Service]
RestartSec=5
Restart=always

ExecStartPre=-/usr/bin/docker stop veloroute1
ExecStart=/usr/bin/docker run \
          --name veloroute1 \
          --log-driver=journald \
          --rm \
          --mount type=bind,source=/path/to/videos,target=/app/videos/rendered/ \
          -p=127.0.0.1:11371:4000/tcp \
          veloroute.hamburg/v1:latest
ExecStartPost=/bin/sh -c "until /usr/bin/curl --output /dev/null --silent --fail http://localhost:11371/_health; do sleep 1; printf .; done; echo booted"

# time until websockets will be closed. Should be large enough to allow the load
# balancer in front to route requests to another instance.
ExecStop=-/usr/bin/docker exec veloroute1 /app/bin/prod rpc 'Veloroute.health_shutdown()'
ExecStop=-/usr/bin/sleep 120
# actual shutdown
ExecStop=/usr/bin/docker stop veloroute1

TimeoutSec=300

[Install]
WantedBy=multi-user.target
